/*http://www.colorcombos.com/color-schemes/4292/ColorCombo4292.html*/
/*http://stackoverflow.com/questions/7273927/image-greyscale-with-css-re-color-on-mouse-over*/
body {
  max-width: 960px;
  margin: 0px auto;
}

#ultimateNav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  border-bottom: solid;
  border-color: #999999;
  border-width: thin;
  margin-top: 3%;
  border-radius: 90%;
}

#ultimateNav section a {
  text-decoration: none;
  margin-left: 6%;
  margin-right: 6%;
  color: #999999;
}

a:hover {
  color: #FF8362;
}

body > header {
  text-align: center;
  font-size: 62px;
  color: #6B6B6B;
  font-family: 'Euphoria Script', cursive;
  background: #DEADA1;
  padding-top: 50px;
  padding: 50px;
}

section {
  margin: 20px;
}

main > section {
  margin-top: 3%;
  border-top: solid;
  border-bottom: solid;
  border-color: #999999;
  border-width: thin;
  font-size: 24px;
  color: #999999;
  padding-top: 2%;
}

main > section > header {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

section {
  overflow: auto;
}

.small {
  height: 18px;
  border: .5px solid;
}

.medium {
  height: 200px;
  border: .5px solid #999999;
}

img {
  margin: 20px;
}

.logoImg {
  margin: 0px;
  border: 0px;
}

.leftImg {
  float: left;
}

.rightImg {
  float: right;
}

.shop {
  width: 676px;
  margin: 20px auto;

}

figure {
  display: inline-block;
}

#colourPalette {
  border-radius: 10%;
}

#swatches {
  width: 724px;
  margin: 0 auto;
}

.swatch {
  display: inline-block;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  color: #999999;
  margin-top: 5%;
  text-align: center;
}

.colorSwatch {
  border-radius: 50%;
}

.color1 {
  width: 100px;
  height: 100px;
  background: #DEADA1;
}

.color2 {
  width: 100px;
  height: 100px;
  background: #FF8362;
}

.color3 {
  width: 100px;
  height: 100px;
  background: #999999;
}

.color4 {
  width: 100px;
  height: 100px;
  background: #6B6B6B;
}

.color5 {
  width: 100px;
  height: 100px;
  background: #ABDDE0;
}

.center {
  text-align: center;
}

p {
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  color: black;
  letter-spacing: .1em;
}

.left {
  float: left;
  width: 425px;
  height: 210px;
  margin-bottom: 3%;
}

.right {
  float: right;
  width: 425px;
  height: 210px;
  margin-bottom: 3%;
}

#logos img {
  width: auto;
  border: 0px;
}

table {
  margin: 40px auto;
  border-collapse: collapse;
  text-align: center;
}

td {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  color: #999999;
  padding: 10px;
  border-bottom: 1px solid;
}

th {
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding: 10px;
}

form {
  margin: 20px;
}

footer {
  background-color: #ABDDE0;
  height: 50px;
  clear: both;
}

footer a {
  text-decoration: none;
  color: #6B6B6B;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  margin: 20px;
  font-style: bold;
  font-size: 16px;
}

footer div {
  width: 577px;
  margin: 0 auto;
}
